@import '_fonts.scss';
@import '_vars.scss';
@import '../../node_modules/normalize.css/normalize.css';

body {
	overflow-x: hidden;
	font-family: 'Kalam', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.quote {
	position: relative;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.quote:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(0, 0, 0, 0.7);
}

.container {
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.btn {
	padding: 7px 21px;
	background-color: $btn;
	border: none;
	font-size: 18px;
	box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
		0 3px 6px rgba(255, 255, 255, 0.23);
	color: #fff;
	font-size: 24px;
	border-radius: 20px;
	transition: all 0.3s ease;
	cursor: pointer;
}

.quote {
	color: $fontColor;
}

.quote__inner {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
	max-width: 800px;
	border-radius: 20px;
	width: 100%;
	background-color: $quote;
	padding: 30px;
	box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
		0 3px 6px rgba(255, 255, 255, 0.23);
}

.quote__text {
	font-weight: 300;
	font-size: 64px;
	line-height: 110%;
	margin: 0 auto;
	margin-bottom: 25px;
	text-align: center;
}

.quote__author {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
  margin-bottom: 70px;
}

.quote__bottom {
	margin-top: auto;
	display: flex;
	justify-content: space-between;
}

.quote__twitter i {
	transition: all 0.3s ease;
}

@media (hover: hover) {
	.btn:hover {
		box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19),
			0 6px 6px rgba(255, 255, 255, 0.23);
	}

	.quote__twitter:hover i {
		color: $twitterColor;
	}
}

.btn:active {
	transform: translate(2px, 1px) scale(0.95);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 128px;
  height: 128px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
