@import '_fonts.scss';
@import '_vars.scss';
@import '../../node_modules/normalize.css/normalize.css';

body {
	overflow-x: hidden;
	font-family: 'Kalam', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.quote {
	position: relative;
	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.quote:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(0, 0, 0, 0.7);
}

.container {
	max-width: 1200px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.btn {
	padding: 7px 21px;
	background-color: $btn;
	border: none;
	font-size: 18px;
	box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
		0 3px 6px rgba(255, 255, 255, 0.23);
	color: #fff;
	font-size: 24px;
	border-radius: 20px;
	transition: all 0.3s ease;
	cursor: pointer;
}

.quote {
	color: $fontColor;
}

.quote__inner {
	max-width: 800px;
	border-radius: 20px;
	width: 100%;
	background-color: $quote;
	padding: 30px;
	box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
		0 3px 6px rgba(255, 255, 255, 0.23);
}

.quote__text {
	font-weight: 300;
	font-size: 64px;
	line-height: 110%;
	margin: 0 auto;
	margin-bottom: 25px;
	text-align: center;
}

.quote__author {
	font-size: 48px;
	font-weight: 700;
	text-align: center;
}

.quote__bottom {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.quote__twitter i {
	transition: all 0.3s ease;
}

.quote__next {
}

@media (hover: hover) {
	.btn:hover {
		box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19),
			0 6px 6px rgba(255, 255, 255, 0.23);
	}

	.quote__twitter:hover i {
		color: $twitterColor;
	}
}

.btn:active {
	transform: translate(2px, 1px) scale(0.95);
}
